<nav class="navigation mdl-navigation mdl-color--indigo-red-800">
  {{#each content}}
    <a class="mdl-navigation__link" href="#{{link}}">
      <i class="mdl-color-text--white material-icons" role="presentation">{{icon}}</i>
      {{label}}
    </a>
  {{/each}}
</nav>